<div class="forum-container">
  <!-- Шапка форуму -->
  <header class="forum-header">
    <div class="forum-title">
      <h1>Мій Форум</h1>
    </div>
    <div class="auth-panel">

      <ng-container *ngIf="isAuthenticated; else notAuthenticated">
        <span class="username">Привіт,username!</span>
        <button (click)="logout()">Вийти</button>
      </ng-container>
      <ng-template #notAuthenticated>
        <button (click)="openModal()">Увійти</button>
        <button>Реєстрація</button>
      </ng-template>
    </div>
  </header>
  <!-- Місце для майбутніх компонентів -->
  <main class="forum-content">
    <router-outlet></router-outlet>
  </main>
  <!-- Нижня панель -->
  <footer class="forum-footer">
    <p>© 2025 Мій Форум. Усі права захищено.</p>
  </footer>
</div>

