<div class="container mt-5">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [class.active]="statusTab=='register'" (click)="statusTab='register'">Реєстрація</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="statusTab=='login'" (click)="statusTab='login'">Авторизація</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="statusTab=='restore'" (click)="statusTab='restore'">Відновлення паролю</a>
    </li>
  </ul>

  <div class="card p-4 mt-3">
    <!-- Реєстрація -->
    <div *ngIf="statusTab=='register'">
      <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input type="email" class="form-control" [(ngModel)]="email" />
      </div>
      <div class="mb-3">
        <label class="form-label">Логін</label>
        <input type="text" class="form-control" [(ngModel)]="login" />
      </div>
      <div class="mb-3">
        <label class="form-label">Нікнейм</label>
        <input type="text" class="form-control" [(ngModel)]="nick" />
      </div>
      <div class="mb-3">
        <label class="form-label">Пароль</label>
        <input type="password" class="form-control" [(ngModel)]="password" />
      </div>
      <div class="mb-3">
        <label class="form-label">Підтвердити пароль</label>
        <input type="password" class="form-control" [(ngModel)]="confirmPassword" />
      </div>
      
      <button *ngIf="!isCodeSent" class="btn btn-primary w-100" (click)="sendVerificationCode()">Відправити код на e-mail</button>
      
      <div *ngIf="isCodeSent" class="mt-3">
        <label class="form-label">Підтвердіть код</label>
        <input type="text" class="form-control mb-2" [(ngModel)]="confirmationCode" />
        <button class="btn btn-success w-100" (click)="register()">Реєстрація</button>
      </div>
    </div>

    <!-- Авторизація -->
    <div *ngIf="statusTab=='login'">
      <div class="mb-3">
        <label class="form-label">Логін</label>
        <input type="text" class="form-control" [(ngModel)]="login" />
      </div>
      <div class="mb-3">
        <label class="form-label">Пароль</label>
        <input type="password" class="form-control" [(ngModel)]="password" />
      </div>
      <button class="btn btn-primary w-100" (click)="loginUser()">Авторизація</button>
    </div>
 
    <div *ngIf="statusTab== 'restore'">
      <div *ngIf="statusRestorePassword == 'default'">
        <div class="mb-3">
          <label class="form-label">Введіть ваш e-mail</label>
          <input type="text" class="form-control" [(ngModel)]="email" />
        </div>
        <button class="btn btn-primary w-100" (click)="sendCodeRestore()">Відправити код на e-mail</button>  
      </div>
      <div *ngIf="statusRestorePassword == 'codeSentRestore'">
        <div class="mb-3">
          <label class="form-label">Введіть код підтвердження</label>
          <input type="text" class="form-control" [(ngModel)]="codeRestorePass" />
        <button class="btn btn-primary w-100" (click)="approweCodeRestore()">Підтвердити скидання паролю</button>
        </div>
      </div>
      <div *ngIf="statusRestorePassword == 'codeSentRestoreApply'">
        <div class="mb-3">
          <label class="form-label">Введіть новий пароль</label>
          <input type="text" class="form-control" [(ngModel)]="newPassword" />
          <label class="form-label">Підтвердіть новий пароль</label>
          <input type="text" class="form-control" [(ngModel)]="confirmNewPassword" />
        <button class="btn btn-primary w-100" (click)="changePassword()">Змінити пароль</button>
        </div>
      </div>
      <div *ngIf="statusRestorePassword == 'passwordRestoreSuccses'">
        <div class="mb-3">
         <h5>Пароль успішно змінено!Авторизуйтесь!</h5>
        </div>
      </div>

    </div>
  </div>
</div>
